.nav-top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem;
}

.margin {
    margin-bottom: 150px;
}

.navbar {
    background-color: #FFF;
    box-shadow: 0px 0px 15px #9f9e9e;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 150px;
}

.navbar .nav-link {
    font-size: 20px;
    color: #444444;
    margin-left: 2.5rem;
    transition: .3s all;
    white-space: nowrap;
    padding-bottom: 0;
    padding: 0 !important;
}

.navbar .nav-link:hover {
    color: #614CA0;
    font-weight: bold;
    display:inline-block;
}

.navbar .nav-link.active {
    color: #f2c812;
    font-weight: bold;
    border-bottom: solid 3px #614CA0;  
}

.nav-link::after {
    display:block;
    content: '';
    border-bottom: solid 3px #614CA0;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.navbar .nav-link:hover:after{  transform: scaleX(1); transform-origin: 0% 50%; }

.navbar-toggler i {
    font-size: 35px;
    color: #000;
}

.navbar-expand-lg .navbar-collapse {
    display: contents !important;
}

@media (max-width: 991px) {
    .icon-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
}

.navbar-brand img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.search input {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #000 !important;
    border: none;
}

.container-fluid {
    padding-right: 35px;
    padding-left: 35px;
}

.navbar .nav-link.nav-icon:hover {
    border: none !important;
}

.dropdown-menu.show {
    right: 1rem;
    width: 100px;
    left: unset;
    top: 6rem;
    border-radius: 12px;
    padding: .5rem;
}

.dropdown-item {
    color: #444444;
    margin-bottom: 0.5rem;
    font-size: 18px;
}