body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: initial;
}

.card {
  margin-top: 1.5rem;
  border: none;
  background-color: transparent;
  color: #000;
  overflow: hidden;
}

.card:hover {
  background-color: #d9d9d9;
  border-radius: 15px;
  transition: all .5s;
}

.card:hover img {
  border-radius: 15px 15px 0px 0px;
  transition: all .5s;
}

.book .card {
  background-color: transparent;
  margin: 0;
}

.card .card-title {
  margin: 0;
}

.rooms h1 {
  font-size: 35px;
  color: #222;
}

.rooms {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card img {
  width: 100%;
  height: 300px;
  background-size: cover;
  object-fit: cover;
  border-radius: 15px;
}

.more {
  border: 1px solid #614CA0;
  background-color: transparent;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #614CA0;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  position: relative;
  top: 2rem;
}

.card-button {
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #FFFFFF3C;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
}

.card h2 {
  font-size: 15px;
  color: #000;
  font-weight: bold;
}

.card h3 {
  font-size: 15px;
  color: #219e2a;
}

.card h2 span {
  margin-right: 0.2rem;
  color: #FFF;
  font-weight: bold;
  padding: .2rem 1rem;
  border-radius: 50px; 
}

.good {
  background-color: #219e2a;
  font-weight: bold;
  padding: 0.3rem;
  border-radius: 55px;
}

.Excellent {
  background-color: #063e09;
  font-weight: bold;
  padding: 0.3rem;
}

.Very {
  background-color: #0a5c0f;
  font-weight: bold;
  padding: 0.3rem;
  border-radius: 55px;
}

.rating .fa-star {
  width: 12px;
  height: 12px;
  color: rgb(255, 179, 0);
  margin-right: 0.2rem;
}

.rating {
  position: relative;
  top: -.6rem;
  /* margin-bottom: 1rem; */
}

.book-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-img {
    width: 100vw;
    height: 400px !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.Price {
  font-size: 24px;
  color: #FFF;
  font-weight: bold;
}

.Price span {
  color: #614CA0;
  margin-right: 0.5rem;
  font-weight: normal;
}

.book form input {
  display: block;
  background-color: transparent;
  border-bottom: 1px solid #614CA0 !important;
  border: none;
  margin-bottom: 1.5rem;
  width: 100%;
  color: #000;
}

.price {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.rate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.rate span {
  font-size: 18px;
  font-weight: bold;
}

.book form {
  text-align: center;
  color: #f00;
}

.book form .submit {
  border: 1px solid #614CA0;
  background-color: transparent;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #614CA0;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  position: relative;
  /* top: 2rem; */
}

.book form label {
  color: #463F50;
  text-align: left;
}

input::placeholder {
  color: #463F50;
}

.radio {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
}

.form-radio input {
  width: 100% !important;
  margin-right: 1rem;
}

.form-radio {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: #463F50 !important;
  background-color: #FFF;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} 

.swiper-button-next:after, .swiper-button-prev:after {
    content: 'next';
    font-size: 14px !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #393939;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #FFF !important;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  display: none;
}

.img-book {
  width: 100%;
  background-size: cover;
  height: 600px;
}

.img-book-wide {
  height: 290px;
  margin-top: 20px;
}

.details {
  margin-top: 2rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #3939393f;
  padding-bottom: 1.5rem;
}

.details p {
  color: #000;
  font-weight: bold;
  margin-bottom: 0;
}

.details span {
  color: #393939;
  font-size: 14px;
}

.details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.book h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.icon {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.icon .svg-inline--fa {
  font-size: 28px !important;
  margin-right: 1rem !important;
}

.icon h2 {
  color: #000;
  font-size: 24px;
  /* font-weight: bold; */
  margin: 0;
}

.icon span {
  font-size: 16px;
  color: #393939a7;
}

.work {
  border-bottom: 2px solid #3939393f;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer {
  text-align: center;
  background-color: #e3e3e3;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  position: relative;
}

.footer p {
  font-size: 15px;
  color: #000;
  margin: 0;
}

.login-form {
  text-align: center;
  opacity: 1;
  width: 60%;
  margin: auto;
}

.login-form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 12px;
  color: #FFF;
}

.login-form input::placeholder {
  color: #FFF;
}

.page {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: url("./Component/img/dsc_2601.jpg");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  opacity: 1;
  color: #FFF;
}

.icons {
  background-color: #393939;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: #f00;
  font-size: 14px;
}

.login-form .submit {
  background-color: #0d6efd;
  color: #FFF;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  width: 100%;
  border: 1px solid #0d6efd;
  border-radius: 12px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.login-form img {
  width: 150px;
  height: 150px;
  margin-bottom: 2rem;
  border-radius: 18px;
}

.register-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #e8e8e8;
  padding: 2rem;
  border-radius: 18px;
  box-shadow: 0px 0px 25px rgb(139, 139, 139);
  color: #f00;
}

.register-form input {
  display: block;
  background-color: transparent;
  border: 1px solid #3B9AE1 !important;
  border: none;
  margin-bottom: 1.5rem;
  width: 100%;
  color: #FFF;
  border-radius: 12px;
  padding: .5rem 1rem;
}

.register-form input::placeholder {
  color: #3B9AE1;
}

.register-form .submit {
  border: 1px solid #3B9AE1;
  background-color: transparent;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #3B9AE1;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
}

.register-form img {
  width: 150px;
  height: 150px;
  margin-bottom: 2rem;
  border-radius: 18px;
}

.register-form h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #000;
}

.background {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.about-div {
  margin-top: 3rem;
}

.about-div h1 {
  font-size: 32px;
}

.facts {
  margin-top: 3rem;
  background-color: #f2f2f2;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.facts h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.member {
  background-color: #FFF;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.member h1 {
  font-size: 28px;
  color: #000;
  margin-bottom: 0;
}

.member span {
  color: #777778;
}

.invite span {
  color: #717171;
  font-size: 14px;
}

.invite h1 {
  color: #000;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.invite a {
  color: #FFF;
  font-size: 18px;
  background-image: linear-gradient(90deg,#e61e4d 1.83%,#e31c5f 50.07%,#d70466 96.34%);
  border-radius: 12px;
  padding: .8rem 2.5rem;
}

.invite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 90vh;
}

.invite img {
  height: 650px;
  width: 100%;
}

.last {
  display: flex;
  margin-bottom: 2rem;
}

.last img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  margin-right: 1rem;
}

.last h1 {
  font-size: 24px;
  margin-bottom: 0.5em !important;
}

.last span {
  font-size: 16px;
  color: #717171;
}

.news h1 {
  font-size: 32px;
  margin-bottom: 3rem;
}

